<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
 <% end %>


<div>
  <form action="/questions" method="POST">
    <label for "title">Title:</label>
    <input type="text" name="question[title]"><br>
    <label for "Question">Question:</label>
    <textarea name="question[text]"></textarea><br>
    <input type="submit" value="Ask Question">
  </form>
</div>
