<div>
  <form action="/users/<%= @user.id %>/questions" method="POST">
    <input type="text" name="question[title]">
    <input type="text" name="question[text]">
    <input type="submit" value="Ask Question">
  </form>
</div>
