.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  text-align: left;
}

th {
  text-align: left;
}

.up-pizza {
  width: 7%;
  height: 35px;
  background: white url(up-pizza.png) center no-repeat ;
  background-size: 30px;
  padding-left: 17px;
  border: none;
  outline: none;
}
.down-pizza {
  width: 7%;
  height: 35px;
  background: white url(down-pizza.png) center no-repeat ;
  background-size: 30px;
  padding-left: 17px;
  border: none;
  outline: none;
}

.vote-count {

}

