#yield {
 /* margin-top: 6%;*/
 position: relative;
 top: 50px;
}

/* Header */
#layout-header {
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#user-status {
  position: relative;
  margin: auto 0;
}

#layout-header h3 {
  position: relative;
  margin: auto;
}

.login-logout {
  margin-right: 10px;
}

/* Question */
.main-question {
  margin-left: 20px;
}

.question-vote {
  margin: auto;
}

.question-and-votes {
  display: inline-flex;
}

.vote-count {
  display: block;
  position: absolute;
  margin-top: 34px;
  margin-left: 6px;
}

.profile-card {
  position: relative;
  right: 0px;
}

/* Answer */
.each-separate-answer {
  margin-bottom: 20px;
}

.each-separate-answer:first-child {
  margin-top: 20px;
}




.main-answer {
  margin-left: 20px;
}

.answer-vote {
  margin: auto;
}

.answer-and-votes {
  display: inline-flex;
}

.homer-picture {
  margin-left: 25%;

  width: 40%;
}

li {
  list-style-type: none;
}

