/* Header */
#layout-header {
  width: 100%;
  height: 7%;
  background-color: #2d2e2f;
  color: white;
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#user-status a {
  text-decoration: none;
  color: white;
}

#user-status a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* Card UI */
.card {
  border: 0.2px solid grey;
  border-radius: 5px;
  box-shadow: ;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-card {
  background-color: #e0eaf1;
  box-sizing: border-box;
  padding: 5px;
  width: 75%;
  border-radius: 5px;
}

/* Question */
.main-question {
  padding: 20px;
}

.question-vote {
  padding: 20px;
}

#upvote-button {
  padding-bottom: 15px;
}

.question-comment {
  border-top: 0.25px solid grey;
}

.question-comment:first-child {
  border-style: none;
}

.question-comment:last-child {
  border-bottom: 0.25px solid grey;
}

.new-question-comment-link {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: #2d2e2f;
  border-radius: 5px;
  box-shadow: 0 1px 2px black;
  transition: all 0.5s ease-out;
}

.new-question-comment-link:hover {
  box-shadow: 0 4px 8px black;
}

/* Answer */
.new-answer-comment-link {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: #2d2e2f;
  border-radius: 5px;
  box-shadow: 0 1px 2px black;
  transition: all 0.5s ease-out;
}

.new-answer-comment-link:hover {
  box-shadow: 0 4px 8px black;
}

.main-answer {
  padding: 20px;
}

.answer-vote {
  padding: 20px;
}

.upvote-button {
  padding-bottom: 15px;
}

.answer-comment {
  border-top: 0.25px solid grey;
}

.answer-comment:first-child {
  border-style: none;
}

.answer-comment:last-child {
  border-bottom: 0.25px solid grey;
}
.comment{
  border-bottom: 0.25px solid grey;
}

.question-link-list {
  border-top: 1px solid gray;
  width: 800px;
  padding: 20px 20px 20px 40px;


}

.login-question {
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
