<div>
  <div>
    <h3><a href="">Answers</a></h3>
    <nav>
      <ul>
        <li><a href="">votes</a></li>
        <li><a href="">activity</a></li>
        <li><a href="">newest</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <h3>Questions</h3>
  </div>




</div>
