
<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
 <% end %>

<form id="answer-form" action= "/answers" method = "post">
<input type="hidden" name = "id" value= "<%= params[:id] %>" />
<label for "text">Your answer:</label>
<input id="answer-text" type="textarea" name = "text"/>
<br>
<input id="new-answer-submit" type="submit" value="Post Answer">
</form>
