<% @answers.each do |answer| %>
  <div id="answer-post">
    <div >
      <p><%= answer.text %></p>
    </div>
    <div>
      <p><%= answer.user.username %></p>
      <p><%= answer.created_at.strftime('%b %d \'%y at %H:%M') %></p>
    </div>
  </div>
<% end %>

<% if login? %>
    <%= erb :'answers/new' %>
<% end %>
