<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <form action="/responses" method="POST">
    <input type="hidden" name="response[respondable_id]" value="<%= @question.id %>">
    <input type="hidden" name="response[respondable_type]" value="Question">
    <input type="hidden" name="response[user_id]" value="<%= current_user.id %>">
    <input type="text" name="response[text]">
    <input type="submit" value="Respond">
  </form>
</div>
