<div class="card">
  <div id="question-comments">
    <div>
      <% @question_comments.each do |comment| %>
        <div class="question-comment">
          <p><%= comment.text %> - <%= comment.user.username %><%= comment.created_at.strftime('%b %d \'%y at %H:%M') %></p>
        </div>
      <% end %>
    </div>
    <div class="new-question-comment-container">
      <p>
        <a class="new-question-comment-link" href="/questions/<%= @question.id %>/comments/new">Add a comment</a>
      </p>
    </div>
  </div>
</div>
