<div>
  <form action="/responses" method="POST">
    <input type="text" name="response[title]">
    <input type="text" name="response[text]">
    <input type="submit" value="Respond">
  </form>
</div>
